<?php include app_path() . "/view/public/header.html"; ?>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="" lay-filter="queryForm">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">查询类型</label>
						<div class="layui-input-inline">
							<select name="searchType" lay-search>
								<option value="">全部</option>
								<option value="id">渠道ID</option>
								<option value="name">渠道名称</option>
								<option value="webURL">渠道网址</option>
								<option value="agentId">总代ID</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline" style="width: 250px">
							<input type="text" name="searchText" autocomplete="off" placeholder="请输入查询内容" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="table1" lay-filter="listTable1"></table>
			</div>
		</div>
		<script type="text/html" id="toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
		</script>

<?php include app_path() . "/view/public/footer.html"; ?>
<script>
	let tableUrl1 = '/gameChannel/gameChannelList';
	layui.use(['table','form','jquery'],function () {
		$ = layui.jquery;
		table = layui.table;
		let form = layui.form;

		let cols1 = [
			[
				{field:'id',title: '渠道ID' ,align:'center',width:100}
				,{field:'name',title: '渠道名称' ,align:'center',width:100,edit:'text'}
				,{field:'agentId', title: '总代ID',align:'center',width:100,edit:'text'}
				,{field:'webURL', title: '渠道后台地址' ,align:'center',edit:'text'}
				,{field:'QRCodeURL', title:'推广二维码地址',align:'center',edit:'text'}
				,{field:'realQRCodeURL', title:'二维码地址',align:'center',edit:'text'}
				,{field:'downloadURL', title:'落地页地址',align:'center',edit:'text'}
				,{field:'updateUrlId', title:'热更地址ID',align:'center',edit:'text'}
			]
		]

		table.render({
			elem: '#table1',
			url: tableUrl1,
			page: true ,
			cols: cols1 ,
			skin: 'line',
			defaultToolbar: false,
			toolbar: '#toolbar',
			height:700
		});

		form.on('submit(query)', function(data){
			window.refresh('table1', {"data": data});
			return false;
		});

		table.on('toolbar(listTable1)', function(obj){
			if(obj.event === 'add'){
				window.add('/gameChannel/addGameChannel', {"height": '600px'});
			} else if(obj.event === 'refresh'){
				window.refresh('table1');
			}
		});

		table.on('edit(listTable1)', function(obj){
			window.editTableCell(obj, {"submitUrl": '/gameChannel/editGameChannel'});
		});
	})

</script>

<style>
    .pear-container{
        position: fixed;
        width:100%;
    }

    .layui-table-box{
        height: 630px;
    }

    .layui-table-page{
        position: fixed;
        bottom: 5px;
		width: 100%;
       height: 40px;
       z-index: 1000;
       background: white;
		left:10px;
    }
</style>

