<?php include app_path() . "/view/public/header.html"; ?>
<body class="pear-container">
<div class="layui-card">
	<div class="layui-card-body">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-form-item layui-inline">
					<label class="layui-form-label">银行代码</label>
					<div class="layui-input-inline">
						<input type="text" name="bankCode" autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item layui-inline">
					<label class="layui-form-label">银行名称</label>
					<div class="layui-input-inline">
						<input type="text" name="bankName" autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item layui-inline">
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query">
						<i class="layui-icon layui-icon-search"></i>
						查询
					</button>
					<button type="reset" class="pear-btn pear-btn-md">
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-body">
		<table id="table1" lay-filter="listTable1"></table>
	</div>
</div>

<!--<?php include app_path() . "/view/public/tpl_toolbar_add.html"; ?>-->
<?php include app_path() . "/view/public/footer.html"; ?>
<script>
	let tableUrl = '/config/bankList';
	layui.use(['table','form','jquery'],function () {
		$ = layui.jquery;
		table = layui.table;
		let form = layui.form;

		let cols = [
			[
				//{title: '序号', field: '_id', align:'center',width:100, fixed: 'left'},
				{title: '银行代码', field: 'bankCode', align:'center'},
				{title: '银行名称', field: 'bankName', align:'center'},
			]
		]

		table.render({
			elem: '#table1',
			url: tableUrl,
			page: true ,
			limit: 20,
			cols: cols ,
			skin: 'line',
			//toolbar: '#toolbar',
			height:650,
			//defaultToolbar: []
		});

		/*table.on('toolbar(listTable1)', function(obj){
			if(obj.event === 'add'){
				window.add('/order/bankAdd', {"height": '300px'});
			}
		});*/

		form.on('submit(query)', function(data){
			window.refresh('table1', {"data": data});
			return false;
		});
	})

</script>

<style>
	.pear-container{
		position: fixed;
		width:100%;
	}

	.layui-table-box{
		height: 630px;
	}

	.layui-table-page{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 40px;
		z-index: 1000;
		background: white;
		left:10px;
	}
</style>
