<?php include app_path() . "/view/public/header.html"; ?>
<style>
	.layui-form-label{
		width: auto;
		padding: 9px 2px;
	}
	.layui-form-item .layui-input-inline{
		width: 100px;
		margin-right: 0px;
	}
	.layui-table-cell {
		height: auto !important;
	}


	.pear-container{
        position: fixed;
        width:100%;
    }

    .layui-table-box{
        height: 650px;
    }

    .layui-table-page{
        position: fixed;
        bottom: 5px;
		width: 100%;
       height: 40px;
       z-index: 1000;
       background: white;
		left:10px;
    }
</style>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="" lay-filter="queryForm">
					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline" style="width: 250px">
							<select name="clubId" lay-filter="clubId">
								<option value="">请选择俱乐部</option>
								<?php
								foreach($clubs as $k => $v) {
								echo '<option value="'. $k .'">' . $v . '</option>';
								}
								?>
							</select>
						</div>
					</div>

					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline" style="width: 250px">
							<input type="number" id="promoterId" name="promoterId" autocomplete="off" placeholder="请输入盟主、合伙人、会员 ID" class="layui-input" value="">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>

					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-row layui-col-space10">
					<div class="layui-col-md2 layui-col-sm2 layui-col-xs2">
						<div class="pear-card2">
							<div class="title" style="color:red">点击邀请码、分成比例就可以编辑了</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="table1" lay-filter="listTable1"></table>
			</div>
		</div>

<?php include app_path() . "/view/public/footer.html"; ?>
<script type="text/html" id="releate">
	<span class="pear-btn pear-btn-primary pear-btn-sm" lay-event="detail">详情</span>
</script>
<script type="text/html" id="gameConfig">
	<span class="pear-btn pear-btn-primary pear-btn-sm" lay-event="gconfig">配置</span>
</script>
<script>
	//dateOption = {"date1": '', "date2": ''};
	let tableUrl = '/club/modifyCodeRate';
	layui.use(['table','form','jquery'],function () {
		$ = layui.jquery;
		table = layui.table;
		let form = layui.form;


		let cols = [
			[
				{field:'promoterId',title:"盟主 合伙人 会员ID", align:'center'}
				,{field:'clubName', title: '俱乐部名称' ,align:'center'}
				,{field:'invitationCode', title:'邀请码', align:'center', edit:'text'}
				,{field:'setRate', title:'分成比例', align:'center', edit:'text'}

			]
		]

		table.render({
			elem: '#table1',
			url: tableUrl,
			page: true ,
			cols: cols ,
			skin: 'line',
			toolbar: '#toolbar',
			defaultToolbar: ['filter'],
			height:730
		});

		form.on('submit(query)', function(data){
			//console.log(data.field);
			window.refresh('table1', {"data": data});
			return false;
		});
		table.on('edit(listTable1)', function(obj){
			window.editTableCell(obj, {"submitUrl": '/club/modifyCodeRate2'});
		});

	})
</script>
<script type="text/html" id="statusSwitch">
	<input type="checkbox" name="serviceSwitch" value="{{d._id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="statusSwitch" {{ d.enableAndroid == 1 ? 'disabled' : '' }} {{ d.enableAndroid == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="globalSwitch">
	<input type="checkbox" name="globalSwitch" value="{{d._id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="globalSwitch"  {{ d.clubId == 1000 ? 'disabled' : '' }} {{ d.globalMatch == 1 ? 'checked' : '' }}>
</script>