<?php include app_path() . "/view/public/header.html"; ?>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">发布时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sendTime" id="date1" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="display: none">
                    <label class="layui-form-label">过期时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="expireTime" id="date2" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">目标用户</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userId" lay-verify="required" autocomplete="off" placeholder="请输入用户id" class="layui-input">
                        <span style="color: #FF5722;">(全体用户输入:0,单个用户输入:相应用户的userId)</span>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">赠送货币</label>
                    <div class="layui-input-inline">
                        <input type="text" name="rewardScore" lay-verify="required" autocomplete="off" placeholder="上限数量为10金币" class="layui-input">
                        <span style="color: #FF5722;">(不赠送输入:0,若赠送则输入相应金额,全体用户赠送金币只能为0!)</span>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                        <textarea name="content" placeholder="请输入内容" class="layui-textarea" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button id="emailtijiao" type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit lay-filter="save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<?php include app_path() . "/view/public/footer.html"; ?>
<script>
    dateOption = {"date1": '', "date2": ''};
    layui.use(['form','jquery'],function(){
        $ = layui.jquery;
        let form = layui.form;

        form.on('submit(save)', function(data){
            window.saveEmail({"submitUrl": '/email/addEmail', "data": data.field, "tableId": 'table1',"disabled":'disabled'});
            //$("#tijiao").attr("disabled","disabled");
            return false;
        });
    })

</script>
<script src="<?=$staticUrl ?>/static/laydate.js"></script>