<?php include app_path() . "/view/public/header.html"; ?>
<style>
	.layui-form-label{
		width: auto;
		padding: 9px 2px;
	}
	.layui-form-item .layui-input-inline{
		width: 100px;
		margin-right: 0px;
	}
	.layui-table-cell {
		height: auto !important;
	}


	.pear-container{
        position: fixed;
        width:100%;
    }

    /*.layui-table-box{*/
    /*    height: 600px;*/
    /*}*/

    .layui-table-page{
        position: fixed;
        bottom: 0;
		width: 100%;
		height: 40px;
		z-index: 1000;
		background: white;
    }

	.layui-table-body .layui-table-cell{
		height: 78px !important;
		line-height: 25px !important;
	}

</style>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="" lay-filter="queryForm">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">订单状态</label>
						<div class="layui-input-inline">
							<select name="status" lay-search>
								<option value="">全部</option>
								<?php
								foreach($status as $k => $v) {
									$selected = '';
									//if($k==18) $selected='selected';
									echo "<option value='{$k}' {$selected}>{$v}</option>";
								}
								?>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">提现类型</label>
						<div class="layui-input-inline">
							<select name="withdrawType" lay-filter="sp">
								<option value="">全部</option>
								<?php
								foreach($withdrawType as $k => $v) {
								echo '<option value="'. $k .'">' . $v . '</option>';
								}
								?>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline">
							<select name="isSys" >
								<?php
								foreach($isSys as $k => $v) {
									$selected = '';
									if($k==2) $selected='selected';
									echo "<option value='{$k}' {$selected}>{$v}</option>";
								}
								?>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline">
							<select name="timeType" >
								<option value='1'>创建时间</option>
								<option value='2'>审核时间</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline">
							<input type="text" name="startDate" id="date1" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-input-inline" style="width: 5px">-</div>
						<div class="layui-input-inline">
							<input type="text" name="endDate" id="date2" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline" style="width: 250px">
							<input type="text" name="searchText" autocomplete="off" placeholder="请输入会员ID，或者提现订单号查询" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline" style="width: 250px">
							<input type="text" name="trueName" autocomplete="off" placeholder="请输入会员真实姓名" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query" id="button1">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="export">
							<i class="pear-icon pear-icon-export"></i>
							导出
						</button>
						<button class="pear-btn pear-btn-md pear-btn-primary" type="button" id="stop">
							<i class="layui-icon">停止刷新</i>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-row layui-col-space10">
					<div class="layui-col-md2 layui-col-sm2 layui-col-xs2">
						<div class="pear-card2">
							<div class="title">提交金额汇总</div>
							<div class="count pear-text" id="requestMoneySum"></div>
						</div>
					</div>
					<div class="layui-col-md2 layui-col-sm2 layui-col-xs2">
						<div class="pear-card2">
							<div class="title">实际付款汇总</div>
							<div class="count pear-text" id="payMoneySum"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="table1" lay-filter="listTable1"></table>
			</div>
		</div>
<?php include app_path() . "/view/public/footer.html"; ?>
		<script src="<?=$staticUrl ?>/static/exchange.js?v=<?=$JsVersion ?>"></script>
<script>
	let setIntId ;
	window.reloadView = function (){
		$('#button1').trigger("click")
	}
	setIntId = window.setInterval('reloadView()',15000);
	dateOption = {"date1": '', "date2": ''};
	let tableUrl = '/exchange/exchangeList';

	layui.use(['table','form','jquery','count','qrcode'],function () {
		$ = layui.jquery;
		table = layui.table;
		count = layui.count;
		let form = layui.form;

		let cols = [
			[
				{title: '订单信息', field: '', align:'left', minWidth: 320, templet: '#orderInfo'}
				, {title: '收款信息', field: '', align:'left', minWidth: 180, templet: '#accountInfo'}
				, {title: '总充值/总提现', field: '', align:'left', minWidth: 140, templet: '#rechargeAmountexchangeAmount'}
				, {field: 'score', title: '余额', align: 'center', width: 100}
				, {title: '保险箱', field: 'bankScore', align: 'center', width: 100}
				, {title: '提交金额', field: '', align: 'left', minWidth: 80, templet: function(d){
					if (d.withdrawType == 4) {
						return d.requestMoney + '('+ d.usdtRate +'<span style="font-weight: bold;color: red">|</span>'+ d.usdt +')';
					} else {
						return d.requestMoney;
					}
				  }}
				, {title: '实际付款', field: '', align: 'left', minWidth: 80, templet: function (d) {
					return '<span style="font-weight: bold;color: red">' + d.payMoney + '</span>';
			      }}
				, {title: '状态/操作', field: '', align:'left', minWidth: 170, toolbar: '#replacement'}
				, {title: '时间信息', field: '', align:'left', minWidth: 190, templet:'#timeInfo'}
				, {title: '操作记录/备注', field: '', align:'left', minWidth: 300, templet:'#reasonremark'}
			]
		]

		let querystring = "?";
		let queryFormData = form.val("queryForm");
		for(let key in queryFormData) {
			querystring += key+ '=' + queryFormData[key] + "&";
		}
		querystring = querystring.substr(0, querystring.length - 1)

		table.render({
			elem: '#table1',
			url: tableUrl,
			page: true ,
			cols: cols ,
			skin: 'line',
			height:635,
			//toolbar: '#toolbar',
			done: function(res, curr, count){
				let queryFormData = form.val("queryForm");
				//console.log(queryFormData);
				window.tableSummary({"submitUrl": '/exchange/summary', "data": queryFormData, "selIds": 'payMoneySum,requestMoneySum'});
			}
		});

		table.on('tool(listTable1)', function(obj){
			console.log(obj);
			if(obj.event === 'audit'){
				window.auditOrder(obj, {"submitUrl": '/exchange/audit'});
			} else if (obj.event === 'statistical') {
				edit(obj.data['userId']);
			} else if (obj.event === 'allow') {
				if (obj.data['withdrawType'] == 4) {
					window.withdrawUsdt(obj, {"submitUrl": '/exchange/allowExchange'});
				} else if (obj.data['withdrawType'] == 3) {
					window.withdrawBank(obj, {"submitUrl": '/exchange/allowExchange', "submitUrl2": '/exchange/drawMoney',"submitUrl3": '/exchange/availableBank'});
				} else if (obj.data['withdrawType'] == 2) {
					window.withdrawAlipay(obj, {"submitUrl": '/exchange/allowExchange', "submitUrl2": '/exchange/drawMoneyAlipay', "submitUrl3": '/exchange/availableAli'});
				}

			} else if (obj.event === 'reject') {
				window.rejectOrder(obj, {"submitUrl": '/exchange/reject',"width": '780px', "height": '480px'});
			} else if (obj.event === 'qrcode') {
				window.qrcodeShow(obj, {});
			}
		});

		$('#stop').on('click',function(){
			clearInterval(setIntId);
		}) ;

		form.on('submit(query)', function(data){
			//console.log(data.field);
			window.refresh('table1', {"data": data});
			return false;
		});
		form.on('submit(export)', function(data){
			let loading = layer.load();
			$.ajax({
				url: '/exchange/exportExchange',
				data: data.field,
				type: 'post',
				success:function(res){
					layer.close(loading);
					if(res.code == 0){
						window.open('/player/download?file='+res.file);
					}else{
						layer.msg(res.msg,{icon:2,time:1000});
					}
				}
			})
			return false;
		});
	})

	function edit(userId) {
		let re;
		let title = "下分快捷统计";
		let layerload = layer.load(1, {shade: [0.1, '#fff'], time: 2000});
		$.get("/exchange/statisticalInfo?userId="+userId, {}, function (res) {
			var index = layer.open({
				type: 1,
				title: title,
				area: ['1100px', '600px'],
				content: res,
				btn: ['关闭']
				, btn2: function () {
					layer.closeAll();
				},
				// success: function (layero, homeIndex) {
				// 	layui.use(['table',"laydate"], function () {
				// 		var admin = layui.admin
				// 				, table = layui.table
				// 				, form = layui.form
				// 				, laydate = layui.laydate;

						// table.render({
						// 	elem: '#listTable3'
						// 	, url: '/exchange/statisticalData?userId='+userId
						// 	, id: 'listTable3'
						// 	, limit: 3
						// 	, cols: [[
						// 		{field: 'rechargeMoney', title: '金额', align: 'center', minWidth: 100}
						// 		,{field: '', title: '有效投注', align: 'center', minWidth: 100, templet: function(d){
						// 				var html = '<p><span>金币场：'+d.validBet+'</span></p>';
						// 				html += '<p><span>俱乐部：'+d.validBetClub+'</span></p>';
						// 				return html;
						// 			}}
						// 		, {field: 'rtn', title: '支付类型', align: 'center', minWidth: 150, templet: function(d){
						// 				if (d.sp == 1) {
						// 					return '<span style="font-weight: bold;color: blue">线下-' + d.rechargeTypeName + '</span>';
						// 				} else if (d.sp == 2) {
						// 					return '<span style="font-weight: bold;color: blue">线上-' + d.rechargeTypeName + '</span>';
						// 				} else if (d.sp == 3) {
						// 					return '<span style="font-weight: bold;color: blue">客服-' + d.rechargeTypeName + '</span>';
						// 				} else if (d.sp == 4) {
						// 					return '<span style="font-weight: bold;color: blue">运营补发</span>';
						// 				} else {
						// 					return '<span style="font-weight: bold;color: red">' + d.rechargeTypeName + '</span>';
						// 				}
						// 			}}
						// 		, {field: 'orderId', title: '充值订单号', align: 'center', minWidth: 260}
						// 		, {field: 'createTime', title: '提交时间', align: 'center', minWidth: 160}
						// 	]]
						// });

						// table.render({
						// 	elem: '#listTable4'
						// 	, url: '/exchange/statisticalData2?&userId='+userId
						// 	, id: 'listTable4'
						// 	, limit: 3
						// 	, cols: [[
						// 		{field: 'rechargeMoney', title: '彩金', align: 'center', minWidth: 100}
						// 		,{field: '', title: '有效投注', align: 'center', minWidth: 100, templet: function(d){
						// 				var html = '<p><span>金币场：'+d.validBet+'</span></p>';
						// 				html += '<p><span>俱乐部：'+d.validBetClub+'</span></p>';
						// 				return html;
						// 			}}
						// 		, {field: 'rewardTypeName', title: '活动类型', align: 'center', minWidth: 150}
						// 		, {field: 'orderId', title: '奖励订单号', align: 'center', minWidth: 260}
						// 		, {field: 'createTime', title: '获奖时间', align: 'center', minWidth: 160}
						// 	]]
						// });

						// table.render({
						// 	elem: '#listTable5'
						// 	, url: '/exchange/statisticalData3?&userId='+userId
						// 	, id: 'listTable5'
						// 	, limit: 5
						// 	, cols: [[
						// 		{field: 'requestMoney', title: '实际付款金额', align: 'center', minWidth: 100}
						// 		, {field: 'orderId', title: '订单号', align: 'center', minWidth: 150}
						// 		, {field: 'withdrawType', title: '提现类型', align: 'center', minWidth: 260,templet: function(d){
						// 				if (d.withdrawType == 1) {
						// 					return '<span style="font-weight: bold;color: blue">银行卡</span>';
						// 				} else if (d.withdrawType == 2) {
						// 					return '<span style="font-weight: bold;color: blue">支付宝</span>';
						// 				} else if (d.withdrawType == 3) {
						// 					return '<span style="font-weight: bold;color: blue">网银</span>';
						// 				} else if (d.withdrawType == 4) {
						// 					return '<span style="font-weight: bold;color: blue">USDT</span>';
						// 				} else if (d.withdrawType == 5) {
						// 					return '<span style="font-weight: bold;color: blue">代理转余额</span>';
						// 				}
						// 			}}
						// 		, {field: 'createTime', title: '提交时间', align: 'center', minWidth: 160}
						// 	]]
						// });
					// });
					// layer.close(layerload);
				//}
			});
		});
	}
</script>
<script src="<?=$staticUrl ?>/static/laydateYmd.js"></script>
<script type="text/html" id="replacement">
	{{#  if(d.status == 18){ }}
	<span class="layui-btn layui-btn-xs">已汇款</span>
	{{#  } else if(d.status == 9) { }}
	<span class="layui-btn layui-btn-xs layui-btn-danger">驳回申请</span>
	{{#  } else if(d.status == 8) { }}
	<div style="display:inline-block;" lay-event="actionAll">
		<span lay-event="audit"><button class="layui-btn layui-btn-xs layui-btn-normal">审核</button></span>
		<span lay-event="reject"><button class="layui-btn layui-btn-xs layui-btn-danger">驳回</button></span>
	</div>
	{{#  } else if(d.status == 10) { }}
	<div style="display:inline-block;"lay-event="actionAll">
		<span lay-event="allow"><button class="layui-btn layui-btn-xs layui-btn-warm">汇款</button></span>
		<span lay-event="reject"><button class="layui-btn layui-btn-xs layui-btn-danger">驳回</button></span>
	</div>
	{{#  } else if(d.status == 15) { }}
	<div style="display:inline-block;"lay-event="actionAll">
		<span style="font-weight: bold;color: #ff0000">汇款失败请手工处理</span>

		<span lay-event="allow"><button class="layui-btn layui-btn-xs layui-btn-warm">汇款</button></span>
		<span lay-event="reject"><button class="layui-btn layui-btn-xs layui-btn-danger">驳回</button></span>
	</div>
	{{#  } else if(d.status == 30) { }}
	<span class="layui-btn layui-btn-xs layui-btn-danger">已取消</span>
	{{#  } else if(d.status == 17) { }}
	<span class="layui-btn layui-btn-xs">汇款中</span>
	<span lay-event="reject"><button class="layui-btn layui-btn-xs layui-btn-danger">驳回</button></span>
	{{#  } else { }}
	<span class="layui-btn layui-btn-xs layui-btn-disabled">未知状态</span>
	{{#  } }}
	<span lay-event="statistical"><button class="layui-btn layui-btn-xs">统计</button></span>
</script>
<script type="text/html" id="rtn">
	{{#  if(d.sp == 1){ }}
	<span style="font-weight: bold;color: blue">线下-{{  d.rechargeTypeName }}</span>
	{{#  } else if(d.sp == 2) { }}
	<span style="font-weight: bold;color: blue">线上-{{  d.rechargeTypeName }}</span>
	{{#  } else if(d.sp == 3) { }}
	<span style="font-weight: bold;color: blue">客服-{{  d.rechargeTypeName }}</span>
	{{#  } else if(d.sp == 4) { }}
	<span style="font-weight: bold;color: blue">运营补发</span>
	{{#  } else if(d.sp == 5) { }}
	<span style="font-weight: bold;color: blue">支付补发</span>
	{{#  } else { }}
	{{#  } }}
</script>
<script type="text/html" id="accountInfo">
	{{ d.trueName }}<br />
	{{#  if(d.withdrawType == 1){ }}
	{{ d.bankName }}<br />
	{{ d.bankCardNum }}
	{{#  } else if(d.withdrawType == 2) { }}
	{{ d.alipayAccount }}
	{{#  } else if(d.withdrawType == 3) { }}
	{{ d.bankName }}<br />
	{{ d.bankCardNum }}
	{{#  } else if(d.withdrawType == 4) { }}
	<span lay-event="qrcode"><button class="layui-btn layui-btn-xs layui-btn-danger">二维码</button></span>
	{{ d.usdtAddress }}
	{{#  } else { }}
	{{#  } }}
</script>
<script type="text/html" id="rechargeAmountexchangeAmount">
	总充:{{ d.rechargeAmount }}<br />总提:{{ d.exchangeAmount }}
</script>
<script type="text/html" id="timeInfo">
	提交:{{ d.createTime }}<br />处理:{{ d.applyTime }}<br />耗时:{{ d.serviceTime }}
</script>
<script type="text/html" id="orderInfo">
	会员ID:<a onclick="openNewTab(this)" lay-href="/player/playerInfo?userId={{d.userId}}" data-name="{{d.userId}}" lay-text="ID:{{d.userId}}" style="color: red;font-weight: bold">{{d.userId}}</a>
	<br />
	订单号:{{ d.orderId }}
	<br />
	提现类型:
	{{#  if(d.withdrawType == 1){ }}
	<span style="font-weight: bold;color: blue">银行卡</span>
	{{#  } else if(d.withdrawType == 2) { }}
	<span style="font-weight: bold;color: blue">支付宝</span>
	{{#  } else if(d.withdrawType == 3) { }}
	<span style="font-weight: bold;color: blue">网银</span>
	{{#  } else if(d.withdrawType == 4) { }}
	<span style="font-weight: bold;color: blue">USDT</span>
	{{#  } else { }}
	{{#  } }}
</script>
<script type="text/html" id="reasonremark">
	{{ d.reason }}<br />{{ d.remark }}
</script>