		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="" lay-filter="queryForm">

					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline" style="width: 150px">
							<input type="text" name="startDate" id="date13" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-input-inline" style="width: 5px">-</div>
						<div class="layui-input-inline" style="width: 150px">
							<input type="text" name="endDate" id="date14" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-row layui-col-space10">
					<div class="layui-col-md2 layui-col-sm2 layui-col-xs2">
						<div class="pear-card2">
							<div class="title">身上变动</div>
							<div class="count pear-text" id="addRoomCardSum"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="table7" lay-filter="listTable7"></table>
			</div>
		</div>

<script>
	dateOption = {"date1": 'date13', "date2": 'date14', "table": 'listTable7'};
	layui.use(['table','form','jquery','count'],function () {
		$ = layui.jquery;
		table = layui.table;
		count = layui.count;
		let form = layui.form;

		let cols = [
			[
				{field: 'userId', title: '会员ID', align: 'center'},
				{field: 'beforeRoomCard', title: '操作前身上', align: 'center'},
				{field: 'addRoomCard', title: '身上变动', align: 'center'},
				{field: 'afterRoomCard', title: '操作后身上', align: 'center'},
				{field: 'createTime', title: '操作时间', align: 'center'},
				{field: 'changeTypeName', title: '操作类型' ,align:'center'},
				{field: 'otherStr', title: '其他信息' ,align:'center'},
				{field: 'toWhere', title: '房卡消费去向' ,align:'center'},
				{field: 'remark', title: '备注', align: 'center'}
			]
		]

		table.render({
			elem: '#table7',
			url: '/player/roomCardChange?userId='+userId,
			page: true ,
			limit: 20,
			cols: cols ,
			skin: 'line',
			height:600,
			//toolbar: '#toolbar',
			done: function(res, curr, count){
				let queryFormData = form.val("queryForm");
				let tempData = {"userId": userId};
				$.extend(tempData, queryFormData);
				window.tableSummary({"submitUrl": '/player/roomCardChangeSummary', "data": tempData, "selIds": 'addRoomCardSum'});
			}
		});

		form.on('submit(query)', function(data){
			//console.log(data.field);
			window.refresh('table7', {"data": data});
			return false;
		});

	})
</script>
<script src="<?=$staticUrl ?>/static/recharge.js"></script>
		<script src="<?=$staticUrl ?>/static/laydateHisInfo.js"></script>
<!--<script>-->
<!--	layui.use('laydate',function(){-->
<!--		let laydate = layui.laydate;-->
<!--		let initValue = new Date();-->
<!--		laydate.render({-->
<!--			elem: '#date13'-->
<!--			, type: 'date'-->
<!--			, format: 'yyyy-MM-dd'-->
<!--			//, min: 'laydate.now()'-->
<!--			, max: 'laydate.now()'-->
<!--			, value: initValue-->
<!--			, done: function (value) {-->
<!--				let date1 = new Date(value).getTime();-->
<!--				let date2 = new Date($('#date14').val()).getTime();-->
<!--				if (date2 < date1) {-->
<!--					layer.msg('结束时间不能小于开始时间');-->
<!--					return;-->
<!--				}-->
<!--				table.reload('table7', {-->
<!--					page: {curr: 1}-->
<!--					, where: {"startDate": value, "endDate": $('#date14').val()}-->
<!--				});-->
<!--			}-->
<!--		});-->
<!--		laydate.render({-->
<!--			elem: '#date14'-->
<!--			, type: 'date'-->
<!--			, format: 'yyyy-MM-dd'-->
<!--			//, min: 'laydate.now()'-->
<!--			//, max: +365-->
<!--			, value: initValue-->
<!--			, done: function (value) {-->
<!--				let date2 = new Date(value).getTime();-->
<!--				let date1 = new Date($('#date13').val()).getTime();-->
<!--				if (date2 < date1) {-->
<!--					layer.msg('结束时间不能小于开始时间');-->
<!--					return;-->
<!--				}-->
<!--				table.reload('table7', {-->
<!--					page: {curr: 1}-->
<!--					, where: {"startDate": $('#date13').val(), "endDate": value}-->
<!--				});-->
<!--			}-->
<!--		});-->
<!--	})-->
<!--</script>-->

<style>
	.pear-container{
		position: fixed;
		width:100%;
	}

	.layui-table-box{
		height: 600px;
	}

	.layui-table-page{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 40px;
		z-index: 1000;
		background: white;
	}
</style>