<?php include app_path() . "/view/public/header.html"; ?>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="" lay-filter="queryForm">
					<div class="layui-form-item layui-inline">
						<div class="layui-input-inline" style="width: 250px">
							<input type="text" name="searchText" autocomplete="off" placeholder="请输入热更ID，或者热更地址" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="table1" lay-filter="listTable1"></table>
			</div>
		</div>
<?php include app_path() . "/view/public/tpl_toolbar_add_batchRemove.html"; ?>

<script type="text/html" id="bar">
	<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>
<?php include app_path() . "/view/public/footer.html"; ?>
<script>
	let tableUrl1 = '/gameUpdate/gameUpdateList';
	layui.use(['table','form','jquery'],function () {
		$ = layui.jquery;
		table = layui.table;
		let form = layui.form;

		let cols1 = [
			[
				{type:'checkbox'}
				, {field: 'updateUrlId', title: '热更ID', align: 'left', width: 80}
				, {field: 'updateUrl', title: '更新地址', align: 'left', width: 200,edit:'text'}
				, {fixed: 'right', title: "操作", align: 'left', toolbar: '#bar', width: 150}
			]
		]

		table.render({
			elem: '#table1',
			url: tableUrl1,
			page: true ,
			cols: cols1 ,
			skin: 'line',
			defaultToolbar: false,
			toolbar: '#toolbar',
			height:740
		});

		form.on('submit(query)', function(data){
			window.refresh('table1', {"data": data});
			return false;
		});

		table.on('tool(listTable1)', function(obj){
			if(obj.event === 'remove'){
				window.remove(obj, {"_id": obj.data['_id'], "submitUrl": '/gameUpdate/removeGameUpdate',"tableId": 'table1'});
			}
		});

		table.on('toolbar(listTable1)', function(obj){
			if(obj.event === 'add'){
				window.add('/gameUpdate/addGameUpdate', {"height": '600px'});
			} else if(obj.event === 'refresh'){
				window.refresh('table1');
			} else if(obj.event === 'batchRemove'){
				window.batchRemove(obj, {"submitUrl": '/gameUpdate/removeGameUpdate', "tableId": 'table1'});
			}
		});

		table.on('edit(listTable1)', function(obj){
			window.editTableCell(obj, {"submitUrl": '/gameUpdate/editGameUpdate'});
		});

	})

</script>

<style>
    .pear-container{
        position: fixed;
        width:100%;
    }

    .layui-table-box{
        height: 630px;
    }

    .layui-table-page{
        position: fixed;
        bottom: 0;
		width: 100%;
       height: 40px;
       z-index: 1000;
       background: white;
		left:10px;
    }
</style>

