<style>
	.layui-table-header th{
		background-color: #D7D7D7 !important;
		font-weight: bold;
	}
	.pear-btn-selected {
		color: #fff !important;
		background-color: #000000 !important;
		border: #5FB878;
	}
</style>
<div>
	<div class="layui-row layui-col-space10">
		<div class="layui-col-md6">
			<div class="layui-row layui-col-space10">

				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body">
							<div class="layui-form " style="margin-bottom: 5px" lay-filter="platForm2">
								<div class="layui-inline">
									<button class="pear-btn pear-btn-primary pear-btn-md" id="searchBtn1"  onclick="getData(1);">汇总</button>
									<button class="pear-btn pear-btn-primary pear-btn-md" id="searchBtn2" onclick="getData(2);">金币场</button>
									<button class="pear-btn pear-btn-primary pear-btn-md" id="searchBtn33" onclick="getData(33);">俱乐部</button>
								</div>
								<span style="color: #cc0000;float: right"><?=$StatisticalInterval ?>分钟统计一次</span>
							</div>
						</div>
					</div>

					<div class="layui-card">
						<div class="layui-card-body">
							<table id="platFormInfo2"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md12">
					<div class="layui-inline" style="float:right;">
						<button type="button" class="pear-btn pear-btn-sm">
							<i class="layui-icon layui-icon-help" style="font-size: 30px" lay-width="500px" lay-tips="
								<span style='color: #000000;'><b>代理税收: </b>每局游戏金额输赢的2.5%</span><br/><hr />
								<span style='color: #000000;'><b>金币场代理提成: </b>团队(包括自己)所有有效流水 * (自己分成比例 - 下一级代理分成比例)</span><br/><hr />
								<span style='color: #000000;'><b>俱乐部代理提成: </b>团队(包括自己)所有代理税收 * (自己分成比例 - 下一级代理分成比例)</span><br/><hr />
								<span style='color: #000000;'><b>税收纯利润: </b>系统税收-代理提成</span><br/><hr />
                                <span style='color: #000000;'><b>金币场官方盈亏: </b>系统税收+游戏输赢-代理提成-奖励金额</span><br/><hr />
                                <span style='color: #000000;'><b>俱乐部官方盈亏: </b>游戏输赢+系统税收-代理税收*0.99-奖励金额</span><br/><hr />
                                <span style='color: #000000;'><b>新增盟主合伙人: </b>新增一个合伙人或者盟主</span><br/><hr />
                                <span style='color: #000000;'><b>新增有效合伙人: </b>你下方新增一个合伙人且对你有佣金贡献</span><br/><hr />
                                <span style='color: #000000;'><b>有效会员: </b>出现了第一笔有效投注记录的会员统计</span><br/><hr />
                                <span style='color: #000000;'><b>例如: </b>用户在11月29号23:55分注册成功，11月30号00:01分出现第一笔投注，则有效会员算在11月30号</span><br/><hr />
                                "></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	getData(1);

	function getData (type){
		let tableUrl = '/platform/platOverView22?type='+type;
		let loading = layer.load(1, {
			shade: false,
			time: 2*1000
		});
		let cols = [];
			layui.use(['table','form','jquery'],function () {
				$ = layui.jquery;
				table = layui.table;
				if(type == 1){
					cols = [
						[
							{field: 'name', title: '统计字段', align: 'center',width:200}
							, {field: 'today', title: '今日(新增)', align: 'center'}
							, {field: 'yesterday', title: '昨日(新增)', align: 'center'}
							, {field: 'todayGrand', title: '今日(累计)', align: 'center'}
							, {field: 'yesterdayGrand', title: '昨日(累计)', align: 'center'}
						]
					];
				}else if(type == 2){
					cols = [
						[
							{field: 'name', title: '统计字段', align: 'center'}
							, {field: 'today', title: '今日(新增)', align: 'center'}
							, {field: 'yesterday', title: '昨日(新增)', align: 'center'}
							, {field: 'todayGrand', title: '今日(累计)', align: 'center'}
							, {field: 'yesterdayGrand', title: '昨日(累计)', align: 'center'}
						]
					];
				}else{
					cols = [
						[
							{field: 'name', title: '统计字段', align: 'center',width:200}
							, {field: 'today', title: '今日(新增)', align: 'center'}
							, {field: 'yesterday', title: '昨日(新增)', align: 'center'}
							, {field: 'todayGrand', title: '今日(累计)', align: 'center'}
							, {field: 'yesterdayGrand', title: '昨日(累计)', align: 'center'}
						]
					];
				}
				table.render({
					elem: '#platFormInfo2',
					url: tableUrl,
					page: false,
					cols: cols,
					skin: 'line',
				});
			})
		layer.close(loading);
		$("#searchBtn"+type).addClass("pear-btn-selected");
		$("#searchBtn"+type).siblings().removeClass("pear-btn-selected");

	};
</script>